body {
            width: 100%;
            height: auto;
            color: black;
            background-color: rgb(255, 255, 255);
        }
        img {
            width: 100%;
            height: auto;
        }

        h1{
            color: blue;
        }
        h2{
            color: blue;
        }
